h1 {
    color: blue;
    text-align: center;
    font-size: 30px;
    background-color: black;
}

.navbar {
    font-size: 50px;
    background-color: black;
    
}


body {
    background-color: black;
    font-family: 'Roboto', sans-serif;

}

header {
    background-color: black;
    color: blue;
    font-display: blue;

}

button {
    color: blue;
    text-align: center;
    
}

.inner {
    padding: 20px 0 15px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 5px;
}

.inner img {
    margin: 5px;
    border: black 2px solid;
    width: 250px;
    height: 250px;
}

.navbar {
    background-color: black;
    color: blue;

}
