h1 {
    color: blue;
    text-align: center;
    font-size: 50px;
    background-color: black;
}


body {
    background-color: black; 
}

header {
    background-color: black;
    color: blue;
    font-display: blue;
    padding: 20px;

}

button {

    color: blue;
    padding: 10px;


}


* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  /* Style the content */
  .content {
    background-color:black;
    padding: 10px;
    color: blue;
  }
  
  /* Style the footer */
  .footer {
    background-color: black;
    padding: 10px;
    color: blue;
  }

  .search {
      padding: 10px;
  }

.inner {
  padding: 20px 0 15px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 5px;
}

.inner img {
  margin: 5px;
  border: black 2px solid;
  height: 350px;
  width: 350px;
}

